<div class="relative">
  <img src="{{ thumbnail_url }}"
      {% if srcset %}
      srcset="{% for width, src in srcset %}{{ src }} {{ width }}w{% if not forloop.last %}, {% endif %}{% endfor %}"
      {% endif %}
      {% if sizes %}
      sizes="{{ sizes }}"
      {% endif %}
  />
  {% if modal %}
    <div x-data="{ open: false }" class="modal_opener" >
        <a href="{{ modal.1 }}" @click.prevent="open = true" title="enlarge"
          class="close block transform rotate-90">
              ⤡
          </a>
      <div x-show="open" class="modal">
        <div class="wrapper" @click.away="open = false">
          <img src="{{ modal.1 }}" />
          <button class="close" @click="open = false" title="close">⮾</button>
        </div>
      </div>
    </div>
  {% endif %}
</div>
