{% url 'hav:collection_search' collection_slug=collection.slug as search_url %}
<form class="flex rounded shadow" action="{{ search_url }}" method="get">
    <input class="w-full p-2 unstyled" type="text" name="q" placeholder="Search{% if collection %} collection{% endif %}" value="">
    <input type="hidden" name="node" value="{% firstof node.pk collection.root_node.pk %}">
    <button class="w-auto flex justify-end items-center e-500 p-2 hover:text-blue-400">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
    </button>
</form>
