.spinning-ckw {
  animation: ckw 2s linear 0s infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
