{
  "presets": ["react", "env"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "hmr": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
