{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "hmr": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["@babel/preset-react", "@babel/preset-env"]
    }
  }
}
