{% with url_name='scms:collection_detail' %}
<ul>
    <li>
        <a href="{% url url_name collection_name='whav' %}">
            whav
        </a>
    </li>
    <li>
        <a href="{% url url_name collection_name='gaenszle' %}">
            gaenszle
        </a>
    </li>
    <li>
        <a href="{% url url_name collection_name='bon' %}">
            bon
        </a>
    </li>
    <li>
        <a href="{% url url_name collection_name='dumi_rai' %}">
            dumi-rai
        </a>
    </li>
</ul>
{% endwith %}