version: "3.8"

x-django: &django
    build:
        context: .
    image: whav/hav:${TAG}
    user: ${DJANGO_UID}
    volumes:
        - ${HAV_ARCHIVE_ROOT}:/archive/hav/archive
        - ${INCOMING_FILES_ROOT}:/archive/hav/incoming
        - ${WEBASSETS_ROOT}:/archive/hav/webassets
        - ${UPLOADS_ROOT}:/archive/hav/media
    environment:
        - IMAGINARY_SECRET=${IMAGINARY_SECRET}
        - IMAGINARY_URL_PREFIX=${IMAGINARY_URL_PREFIX}
        - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
        - DATABASE_URL=${HAV_DATABASE_URL}
        - WHAV_DATABASE_URL=${WHAV_DATABASE_URL}
        - DEBUG=${DJANGO_DEBUG}
        - HAV_ARCHIVE_PATH=/archive/hav/archive
        - INCOMING_FILES_ROOT=/archive/hav/incoming
        - WEBASSET_ROOT=/archive/hav/webassets
        - UPLOADS_ROOT=/archive/hav/media
        - DJANGO_MEDIA_ROOT=/archive/hav/media
        - INGEST_LOG_DIR=/archive/hav/ingestlog
        - CACHE_URL=${CACHE_URL}
        - SENTRY_DSN=${SENTRY_DSN}
        - RQ_SENTRY_DSN=${SENTRY_DSN}
        - DRF_AUTH_TOKEN=${DRF_AUTH_TOKEN}
    working_dir: /hav/backend
    depends_on:
        - redis

services:
    nginx:
        build:
            context: .
            dockerfile: ./Dockerfile.nginx
        image: whav/hav-nginx:${TAG}
        ports:
            - "${NGINX_PORT}:80"
        volumes:
            - thumbnail-cache:/www/cache
            - ${WEBASSETS_ROOT}:/www/webassets:ro
            - ${HAV_ARCHIVE_ROOT}:/www/archive:ro
        depends_on:
            - django-asgi
            - django-wsgi
            - imaginary
            - cms

    cms:
        build:
            context: ./frontend/cms
        image: whav/hav-cms:${TAG}
        environment:
            - HAV_URL=http://django-wsgi:8000/

    django-asgi:
        <<: *django

    django-wsgi:
        <<: *django
        command: [
          "/venv/bin/uwsgi",
          "--module=hav.wsgi:application",
          "--master",
          "--http-socket=:8000",
          "--log-master"
        ]

    rq-archive:
        <<: *django
        user: ${ARCHIVE_UID}
        command: /venv/bin/python manage.py rqworker archive

    rq-webassets:
        <<: *django
        user: ${WEBASSETS_UID}
        command: /venv/bin/python manage.py rqworker webassets

    rq-default:
        <<: *django
        user: ${DJANGO_UID}
        command: /venv/bin/python manage.py rqworker default

    imaginary:
        image: h2non/imaginary:1.0.18
        user: ${DJANGO_UID}
        environment:
            - URL_SIGNATURE_KEY=${IMAGINARY_SECRET}
            - VIPS_DISC_TRESHOLD=1g
        volumes:
            - ${HAV_ARCHIVE_ROOT}:/www/archive:ro
            - ${INCOMING_FILES_ROOT}:/www/incoming:ro
            - ${WEBASSETS_ROOT}:/www/webassets:ro
            - ${UPLOADS_ROOT}:/www/uploads:ro
        command: -enable-url-source -mount /www -enable-url-signature -http-cache-ttl 31536000

    redis:
        image: redis
        volumes:
            - redis-data:/data
        expose:
            - 6379

    search:
        image: getmeili/meilisearch:v0.17.0
        volumes:
            - search-data:/data.ms
        ports:
            - "7700:7700"

volumes:
    redis-data:
    search-data:
    thumbnail-cache:
