version: "3.7"

x-django: &django
    build:
        context: .
    image: whav/hav
    user: ${DJANGO_UID}
    volumes:
        - ${HAV_ARCHIVE_ROOT}:/archive/hav/archive
        - ${INCOMING_FILES_ROOT}:/archive/hav/incoming
        - ${WEBASSETS_ROOT}:/archive/hav/webassets
        - /var/run/postgresql/.s.PGSQL.5432:/run/postgres/.s.PGSQL.5432
        - /run/redis/redis.sock:/run/redis/redis.sock
    environment:
        - IMAGINARY_SECRET=${IMAGINARY_SECRET}
        - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
        - DATABASE_URL=${HAV_DATABASE_URL}
        - WHAV_DATABASE_URL=${WHAV_DATABASE_URL}
        - DEBUG=${DJANGO_DEBUG}
        - HAV_ARCHIVE_PATH=/archive/hav/archive
        - INCOMING_FILES_ROOT=/archive/hav/incoming
        - WEBASSET_ROOT=/archive/hav/webassets
        - CACHE_URL=${CACHE_URL}
        - SENTRY_DSN=${SENTRY_DSN}
    working_dir: /hav/backend

services:
    nginx:
        image: nginx:stable
        ports:
            - "127.0.0.1:8080:80"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./dist/nginx_cache:/tmp/nginx-thumbnails
            - ${WEBASSETS_ROOT}:/www/webassets:ro
        depends_on:
            - django
            - imaginary

    django:
        <<: *django
        command: daphne -p 8000 -b 0.0.0.0 hav.asgi:application

    rq-archive:
        <<: *django
        user: ${ARCHIVE_UID}
        command: python manage.py rqworker archive

    rq-webassets:
        <<: *django
        user: ${WEBASSETS_UID}
        command: python manage.py rqworker webassets

    rq-default:
        <<: *django
        user: ${DJANGO_UID}
        command: python manage.py rqworker default

    imaginary:
        image: h2non/imaginary:1.0.16
        user: ${DJANGO_UID}
        environment:
            - URL_SIGNATURE_KEY=${IMAGINARY_SECRET}
        volumes:
            - ${HAV_ARCHIVE_ROOT}:/www/archive:ro
            - ${INCOMING_FILES_ROOT}:/www/incoming:ro
            - ${WEBASSETS_ROOT}:/www/webassets:ro
        command: -enable-url-source -mount /www -enable-url-signature -http-cache-ttl 31536000


