[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-webpack-loader = "==0.5.0"
django-model-utils = "==2.6.1"
"psycopg2" = "==2.7.3.1"
python-dotenv = "==0.7.1"
djangorestframework = "==3.7.3"
django-environ = "==0.4.4"
raven = "==6.4.0"
django-treebeard = "==4.2.0"
celery = "==4.1.1"
django-celery-results = "==1.0.1"
uwsgi = "*"
ipython = "*"
pylint = "*"
requests = "*"
pip = "*"
channels = "*"
flower = "*"
pillow = "*"
pyvips = "*"
docker-compose = "*"

[dev-packages]
ipdb = "*"
django-debug-toolbar = "*"

[pipenv]
keep_outdated = true
