[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.7"
django-webpack-loader = "==0.5.0"
django-model-utils = "==2.6.1"
"psycopg2" = "==2.7.3.1"
python-dotenv = "==0.7.1"
djangorestframework = "==3.9.1"
django-environ = "==0.4.4"
django-treebeard = "==4.3.0"
uwsgi = "*"
ipython = "*"
pylint = "*"
pip = "*"
channels = "*"
pillow = "*"
pyexiftool = {file = "https://github.com/smarnach/pyexiftool/tarball/master"}
pyvips = "*"
django-rq = "*"
django-redis = "*"
channels-redis = "*"
dj-database-url = "*"
graphene-django = "*"
redis = "*"
whitenoise = "*"
pick = "*"
sentry-sdk = "*"
django-extensions = "==2.1.5"

[dev-packages]
ipdb = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest = "*"
pytest-django = "*"
uwsgi = "*"

[pipenv]
keep_outdated = true

[requires]
python_version = "3.7"
