{% extends './base.html' %}
{% load static gallery_tags markdown breadcrumbs tagging %}

{% block extra_head %}
    {{ block.super }}
    <script defer src="{% static 'theme/mdx_client.js' %}" ></script>
{% endblock %}


{%  block breadcrumbs %}
{% render_breadcrumbs node %}
{% endblock breadcrumbs %}


{%  block title %}
    {% firstof title node.name %}
{% endblock title %}

{%  block description %}

    <div class="prose">
        {% mdx node.description %}
    </div>

    <div>
        {% render_tags tags=node.tags.all %}
    </div>
{% endblock description %}

{% block content %}
{% if children %}
<h4 class="font-semibold text-gray-900 mt-6 mb-2 leading-6">Browse Collection</h4>
{% endif %}
<div class="folder-bg">
    <div class="gallery">
    {% for node in children %}
       {% node_tile node=node %}
    {% endfor %}
    </div>
</div>
<div class="gallery">
	{% for media in media_entries %}
		{% media_tile media=media %}
	{% endfor %}
</div>
{% endblock content %}
