{% extends './base.html' %}
{% load static gallery_tags markdown breadcrumbs tagging %}

{% block extra_head %}
    {{ block.super }}
    <script defer src="{% static 'theme/mdx_client.js' %}" ></script>
{% endblock %}


{%  block breadcrumbs %}
{% render_breadcrumbs node %}
{% endblock breadcrumbs %}


{%  block title %}
    {% firstof title node.name %}
{% endblock title %}

{%  block description %}

    <div class="prose">
        {% mdx node.description %}
    </div>

    <div>
        {% render_tags tags=node.tags.all %}
    </div>
{% endblock description %}

{% block content %}
{% if not collection.hide_browser_at_root_level and children %}
  <h4 class="font-semibold text-gray-900 mt-6 mb-2 leading-6">Browse Collection</h4>
  <div class="folder-bg">
      <div class="gallery">
      {% for node in children %}
        {% node_tile node=node %}
      {% endfor %}
      </div>
  </div>
{% endif %}

{% if node.display_type == node.DisplayOptions.GROUPED_TITLE %}
    {% include "./components/gallery/grouped_by_title.html" with media_entries=media_entries %}
{% else %}
    {% gallery media_entries display_type=node.display_type %}
{% endif %}


{% endblock content %}
