{% load wagtailcore_tags i18n %}
{% pageurl root_page as root_url %}
<ul>
    {% if root_page %}
    <li class="{% if calling_page.url == root_url %}active{% endif %}">
        <a href="{{ root_url }}">
            Home
        </a>
    </li>
    {% endif %}
{% for menuitem in menuitems %}
    <li class="{% if calling_page.url == menuitem.url %}active{% endif %}">
        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
    </li>
{% endfor %}
{% if collections|length %}
    <li class="subnav {% if collections_active %}deeper{% endif %} ">
        <span class="separator">Collections</span>
        <ul class="collections-menu">
            {% for collection in collections %}
                <li class="{% if calling_page.url == collection.url %}active{% endif %}">
                    <a href="{% pageurl collection %}">
                        {{ collection.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
</ul>
