:80 {

    # Node js server for development
    proxy /__wp__/ frontend:8000
    proxy /__webpack_dev_server__/ frontend:8000
    proxy /sockjs-node/ frontend:8000 {
        websocket
    }

    # thumbor image server
    proxy /thumbor/ thumbor:8000 {
        without /thumbor
    }

    # default django
    proxy / django:8000 {
        transparent
    }

}
