form.ingest-template-form {
  background-color: rgba(128, 128, 128, 0.178);
}
form.ingest-form {
  margin-top: 1rem;
}

div.Select.is-danger > .Select-control {
  border-color: red;
}

.ingest-form-leave {
  opacity: 1;
}

.ingest-form-leave.ingest-form-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}
