.hav-ingest {
  margin: 1rem;
}

form.ingest-template-form {
  background-color: rgba(128, 128, 128, 0.178);
}
form.ingest-form {
  margin-top: 1rem;
}

div.Select.is-danger > .Select-control {
  border-color: red;
}

.ingest-form-exit {
  opacity: 1;
}

.ingest-form svg {
  display: block;
  width: 5em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.ingest-form-exit.ingest-form-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

figcaption {
  text-align: center;
}
