.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.nav {
  background-color: aqua;
  flex-grow: 0;
}

.main {
  padding: 1em;
  background-color: bisque;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  .nav {
    min-width: 200px;
  }
}
