.navbar_wrapper {
  background-color: #f8b20c;
  padding: 0.5em;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar_banner {
  height: 100%;
}

.navbar_banner img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.nav {
  /* this forces the menu to be on a separate row */
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.nav_hidden {
  display: none;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: block;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav li img {
  max-height: 3rem;
  max-width: 100%;
  padding-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .navbar_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }

  .nav_banner {
    width: 100%;
    min-height: 100px;
    flex-grow: 0;
  }

  /* hide the hamburger on desktop */
  .navbar_hamburger {
    display: none;
  }

  /* always show the navbar */
  .nav,
  .nav_hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}
