[Unit]
Description=HAV celery daemon

PartOf=hav.service

# Start this unit after the dummy hav service
After=hav.service

[Service]
Type=forked
WorkingDirectory=/home/hav/production/hav/backend/

ExecStart=/home/hav/.local/bin/pipenv --py run python \
    manage.py rqworker webassets archive

User=archive
Group=havupload

Restart=on-failure
KillSignal=SIGQUIT
StandardError=syslog

[Install]
WantedBy=hav.service

