[Unit]
Description=Imgproxy Server for the HAV
PartOf=hav.service
# Start this unit after the dummy hav service
After=hav.service


[Service]
WorkingDirectory=/home/hav/production/hav/backend/

ExecStart=/home/hav/.local/bin/pipenv run docker-compose -f ../imaginary.yml up

Type=simple
User=hav
#Group=havupload
Restart=on-failure
KillSignal=SIGQUIT

StandardError=syslog

[Install]
WantedBy=hav.service

