/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif&display=swap"); */

@font-face {
  font-family: "DejaVu Sans Condensed";
  src: url("./fonts/DejaVuSansCondensed.woff2") format("woff2"),
    url("./fonts/DejaVuSansCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DejaVu Sans Condensed";
  src: url("./fonts/DejaVuSansCondensed-Bold.woff2") format("woff2"),
    url("./fonts/DejaVuSansCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
