@import "../node_modules/dejavu-sans-condensed/css/dejavu-sans-condensed.css";
@import "../node_modules/ptsans-npm-webfont/style.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.App-logo {
  width: 90%;
  margin: 1em auto 2em auto;
}

.App-menu {
  background-color: rgba(254, 185, 19, 1);
  font-family: 'DejaVu Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  width: 10vw;
  padding: 1em;
  font-size: 1.5em;
  text-align: right;
}

.App-menu ul {
  /* remove nav styles */
  list-style: none;
}

.App-menu a {
  /* remove link styles */
  text-decoration: None;
  color: black;
}

.App-main {
  padding: 2em;
  font-family: 'PT Sans', sans-serif;
}
