@import "dejavu-sans-condensed/css/dejavu-sans-condensed.css";
@import "ptsans-npm-webfont/style.css";

@import 'tachyons/css/tachyons.css';
@import 'css-animations/css/css-animations.css';

html, body, #root, .hav-admin-app {
    height: 100vh;
    width: 100vw;
    font-family: 'PT Sans', 'DejaVu Sans Condensed', sans-serif;
}

.hav-admin-app {
    display: flex;
}

.hav-admin-content {
    overflow-y: scroll;
}

.hav-admin-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hav-admin-menu nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loading-indicator {
    text-align: center;
}

.loading-indicator-icon.rotating {
    display: block;
    animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


