.directory-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.directory-selector .directory {
  margin: 1rem;
}

.directory-selector .directory svg {
  font-size: 4rem;
  display: block;
}

.directory-selector .directory span {
  display: block;
  text-align: center;
}

.directory-selector a {
  color: inherit;
}
