<!DOCTYPE html>
<head>
  {#{% set staticfiles = load('static/manifest.json') %}#}
  {% block site_meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page and page.is_homepage %}<meta name="description" content="{{ config.site_description }}">{% endif %}
  {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
  {% if config.site_favicon %}<link rel="shortcut icon" href="{{ base_url }}/{{ config.site_favicon }}">
  {% else %}<link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">{% endif %}
  {% endblock %}

  {% block htmltitle %}
  <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
  {% endblock %}


  {% block styles %}
  <link rel="stylesheet" href="{{ base_url }}/static/index.css" type="text/css" />
  {% for path in extra_css %}
  <link href="{{ path }}" rel="stylesheet">
  {% endfor %}
  {% endblock %}

  {% block js_head %}
  <script src="{{ base_url }}/static/index.js"></script>
  {% for path in extra_javascript %}
    <script src="{{ path }}"></script>
  {% endfor %}
  {% endblock %}

  {% block extrahead %}
  {% endblock %}

</head>

<body>
<div class="App">

  {% block navgation %}
  <nav class="App-menu">

    <div class="App-logo"></div>

    <nav class="nav-primary">
      <ul>
      {% for nav_item in nav %}
        {% include "nav.html" %}
      {% endfor %}
      </ul>
    </nav>

{#    {% raw %}#}
{#    {% block secondary_nav %}#}
{#    <em>{{ config|pprint }}</em>#}
{#    {% endblock %}#}
{#    {% endraw %}#}
{#  #}
  </nav>

  {% endblock %}

  {% block content %}
      <main class="App-main">
        <div id="mainbg"></div>
        <article class="main-content">
          {{ page.content }}
        </article>
      </main>
  {% endblock %}

</body>
</html>

