@import "../hav/index.css";

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
    height: 100%;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* restrict width for cms content */
.main-content {
    max-width: 60rem;
}

.main-content .block {
    padding-top: 1em;
}

.media > .media-body {
    max-width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.media-body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.media > .media-caption {
    text-align: center;
}

.carousel {
    width: 100%;
    padding: 1em;
}

.carousel-control ul {
    list-style-type: none;
    text-align: center;
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item.active {
    display: block;
}
.carousel-control ul li {
    display: inline;
    padding: 0.5em;
}
.carousel-control ul li:after {
    content: '\25cb';
}

.carousel-control ul li.active:after {
    content: '\25cf';
}
