@import "../hav/index.css";

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* restrict width for cms content */
.main-content {
    max-width: 60rem;
}

.main-content .block {
    padding-top: 1em;
}

.carousel {
    width: 100%;
    padding: 1em;
}

.carousel-control ul {
    list-style-type: none;
    text-align: center;
}
.carousel-control ul li:after {
    content: '\25cb';
    list-style: none;
    display: inline;

}