{% if is_paginated %}

<nav class="border-t border-gray-200 px-4 flex items-center justify-between sm:px-0">
    <div class="-mt-px w-0 flex-1 flex">
    </div>

    <div class="hidden md:-mt-px md:flex">
        {% for p in pages %}
            {% with page=p.page href=p.href %}
            {% if page.number == current_page_number %}
            <a href="{{ href }}" class="border-indigo-500 text-indigo-600 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium" aria-current="page">{{ page.number }}</a>
            {% elif page.number == 1 %}
              <a href="{{ href }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">first</a>
            {% elif page.number == pages|length %}
              <a href="{{ href }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">last</a>
            {% elif page.number > current_page_number|add:-4 and page.number < current_page_number|add:4 %}
              <a href="{{ href }}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 border-t-2 pt-4 px-4 inline-flex items-center text-sm font-medium">{{ page.number }}</a>
            {% endif %}
            {% endwith %}
        {% endfor %}
    </div>

    <div class="-mt-px w-0 flex-1 flex justify-end">
    </div>
</nav>

{%  endif %}
