{% extends './base.html' %}
{% load gallery_tags markdown breadcrumbs %}

{%  block breadcrumbs %}
{% render_breadcrumbs node %}
{% endblock breadcrumbs %}

{%  block title %}{% firstof title node.name %}{% endblock title %}

{%  block description %}
            {{ node.description|markdown }}
{% endblock description %}

{% block content %}
<div class="folder-bg">
    <div class="flex flex-row flex-wrap justify-start items-stretch">
    {% for node in children %}
       {% node_tile node=node %}
    {% endfor %}
    </div>
</div>
<div class="flex flex-row flex-wrap justify-start items-stretch">
{% for media in media_entries %}
    {% media_tile media=media %}
{% endfor %}
</div>
{% endblock content %}
