{% extends './base.html' %}
{% load static daterange breadcrumbs webassets cache tagging %}

{%  block breadcrumbs %}
    {% cache 60 'media' media.pk 'true' %}
    {% render_breadcrumbs media include_last=True %}
    {% endcache %}
{% endblock breadcrumbs %}


{% block title %}
    {%  firstof  media.title media %}
{% endblock title %}

{% block  description %}{% endblock description %}


{%  block content %}
{% with license=media.license %}
<div class="md:flex md:flex-row md:flex-wrap pt-6">
    <div class="flex-auto max-w-2xl mr-4 mb-4">
        <figure class="md:pr-10 md:pb-10">
{#            <img src="{% static 'webassets/image.svg' %}"/>#}
            {% render_webasset media %}
            <figcaption class="flex justify-between">
                <div>
                    <ul class="inline-block list-none">
                        {%  for creator in media.creators.all %}
                        <li>{{ creator.name }}</li>
                        {% endfor %}
                    </ul>
                    ({{ media.creation_date|daterange }})
                </div>
                {%  with license=media.license %}
                <a class="underline"
                   href="{{ license.href }}">
                    <span title="{{ license.name}}">{{ license.short_name }}</span>
                </a>
                {% endwith %}
            </figcaption>
        </figure>
    </div>


    <div class="md:max-w-lg mr-4 mb-4">
        <div class="bg-white shadow overflow-hidden sm:rounded">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Content Description</h3>
            </div>
            <div class="border-t border-gray-200">
                <dl class="media-detail-list">
                    <div>
                        <dt>Title</dt>
                        <dd>{{ media.title }}</dd>
                    </div>

                    {%  if media.description %}
                    <div>
                        <dt>Description</dt>
                        <dd>{{ media.description }}</dd>
                    </div>
                    {% endif %}

                    <div>
                        <dt>Keywords</dt>
                        <dd>
                            {% render_tags tags=media.tags.all %}
                        </dd>
                    </div>

                    {% with location_tags=media.location_tags %}
                    {% if location_tags|length %}
                    <div>
                        <dt>Location</dt>
                        <dd>
                            <ul>
                                {% for tag in location_tags %}
                                <li>{{ tag.type|capfirst }}: {{  tag.name|geotag }}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </div>
                    {% endif %}
                    {% endwith %}

{#                    <div>#}
{#                        <dt>location</dt>#}
{#                        <dd>-</dd>#}
{#                    </div>#}

                    {% with description_authors=media.description_authors %}
{#                    {%  if description_authors|length %}#}
                        <div>
                            <dt>description author(s)</dt>
                            <dd>
                                <ul>
                                    {% for a in description_authors %}
                                    <li>{{ a }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </div>
{#                    {% endif %}#}
                    {% endwith %}
                </dl>
            </div>
        </div>
    </div>

    <div class="md:max-w-lg mr-4 mb-4">
        <div class="bg-white shadow overflow-hidden sm:rounded">
            <div class="px-4 py-5 sm:px-6"><h3 class="text-lg leading-6 font-medium text-gray-900">Media
                Description</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500"></p></div>
            <div class="border-t border-gray-200">
                <dl class="media-detail-list">
                    <div>
                        <dt>hav media handle</dt>
                        <dd>{{ media.pk }}</dd>
                    </div>
                    <div>
                        <dt>original media identifier</dt>
                        <dd>{{ media.original_media_identifier }}</dd>
                    </div>
                    <div>
                        <dt>license</dt>
                        <dd>
                            <a class="underline"  href="{{ license.href }}">
                                <span title="{{ license.name }}">{{ license.short_name }}</span>
                            </a>
                        </dd>
                    </div>
                    <div>
                        <dt>original media type</dt>
                        <dd>{{ media.original_media_type }}</dd>
                    </div>

                    <div>
                        <dt>creator(s)</dt>
                        <dd>
                            <ul class="inline-block list-none">
                                {% for creator in media.creators.all %}
                                <li>{{ creator }}</li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </div>

                    <div>
                        <dt>creation date</dt>
                        <dd>
                            <span title="{{ media.creation_date.lower }} - {{ media.creation_date.upper }}">{{ media.creation_date|daterange }}</span>
                        </dd>
                    </div>

                    <div>
                        <dt>archived by</dt>
                        <dd>{{ media.created_by }}</dd>
                    </div>

                    <div>
                        <dt>archiving date</dt>
                        <dd>{{ media.created_at }}</dd>
                    </div>

                </dl>
            </div>
        </div>

        {% if media.is_public %}
        <div class="bg-white shadow overflow-hidden sm:rounded mt-4">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Archived Files
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500"></p></div>
            <div class="border-t border-gray-200">
                <dl class="media-detail-list">

                    {% for archive_file in media.files.all %}
                    <div>
                        <dt>{{ archive_file.original_filename }} ({{ archive_file.size|filesizeformat }})</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a href="{% url 'archive:download' pk=archive_file.pk %}">
                                Download
                            </a>
                                </li>
                                <li>
                                    <a href="{% url 'archive:file_by_hash' hash=archive_file.hash %}">
                                Permalink
                            </a>
                                </li>
                            </ul>

                        </dd>
                    </div>
                    {% endfor %}
                </dl>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endwith %}

{% endblock content %}
