{% extends './base.html' %}
{% load static daterange breadcrumbs webassets cache %}

{%  block breadcrumbs %}
{% endblock breadcrumbs %}

{%  block searchbar %}
{% endblock searchbar %}

{% block title %}
    Search {% if collection %}in collection <em>{{ collection.short_name }}</em>{% endif %}
{% endblock title %}

{%  block description %}
{%  endblock %}

{%  block content %}
{#{% include './components/search.html' %}#}
<div class="prose">
<form class="django-form" method="get">
    {{ search_form.q }}
</form>

{% if query %}
    <p>Your search for <em>{{ response.query }}</em> found <em>{{ response.nbHits }}</em> items:</p>

    {% if search_results|length == 0 %}
        <em>No results...</em>
    {% else %}
        <em>Results</em>
        {%  for result in search_results %}
            {% include './components/search_result.html' %}
        {% endfor %}
    {% endif %}

{% endif %}

</div>

{% endblock content %}
