input.unstyled,
input.unstyled:focus {
  @apply shadow-none ring-0 border-0;
}

table.table {
  @apply min-w-full divide-y divide-gray-200 border-separate border;

  thead {
    @apply bg-gray-50;
  }
}

.featured_media_set {
  margin: 0;
  padding: 0;
}

.featured_media_set p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.featured_media_set a {
  color: #2d5d80;
  text-decoration: none;
}

.featured_media_set .max-w-sm.m-4 {
  margin: 0 1.5rem 2rem 0;
  max-width: 16rem;
}

.featured_media_set img {
  margin: 0;
}

div.modal {
  background: rgba(0.1, 0.1, 0.1, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
}
.modal .wrapper {
  max-width: min(80vw, 1000px);
  margin: 2rem auto;
  display: block;
  position: relative;
}
.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  background: #333;
  color: #ddd;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0.5rem;
}
.modal .close:hover {
  color: #eee;
  background: #111;
}
