/* layout the main file browser div with header, main and footer */
.filebrowser {
  min-height: 100vh;
  padding: 1.5rem;
  /* position: relative; */
}

.filebrowser main {
  margin-top: 0.5rem;
  /* flex-grow: 1; */
  /* overflow-y: auto; */
  /* user-select: none; */
}

.filebrowser header,
.filebrowser footer {
  position: sticky;
  background-color: white;
  z-index: 20;
}

.filebrowser header {
  top: 0;
  padding-bottom: 0.5rem;
}

.filebrowser footer {
  bottom: 0;
}

/*Gallery Style*/
.g-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.g-gallery-item {
  flex: 1 1 20%;
  /*needed for absolutely positioned selection marker*/
  position: relative;
  margin: 0.4rem;
  padding: 0.6rem;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}

.g-gallery-directory {
  cursor: pointer;
  word-break: normal;
}

.g-gallery-item.selected {
  text-decoration: underline;
  background-color: rgba(121, 174, 200, 0.3);
}

.g-gallery-item:hover {
  background-color: rgba(121, 174, 200, 0.19);
}

.g-gallery-item img {
  max-width: 100%;
  max-height: 10rem;
  /* flex-basis: 150px; */
  object-fit: contain;
}

.g-gallery-item > svg {
  /* SVGs are used for directories or files without a preview */
  margin-top: 2rem;
}

.g-gallery-select {
  position: absolute;
  bottom: 1rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  text-align: center;
}

/*hidden per default*/
.g-gallery-select {
  display: none;
}

/*but not when hovered */
/* and not when selected */
.g-gallery-item:hover .g-gallery-select,
.g-gallery-item.selected .g-gallery-select {
  display: block;
}

.g-gallery-item.selected .g-gallery-select {
  font-weight: bolder;
  font-size: 2.3rem;
  color: green;
  z-index: 10;
}

.g-gallery-item-name {
  text-align: center;
  text-overflow: ellipsis;
  color: grey;
  font-size: 1rem;
  margin-top: 1rem;
}

.g-gallery-item-file {
  word-break: break-all;
}

.g-gallery-item:hover .g-gallery-item-name {
  color: inherit;
}

footer {
  padding: 1em 0;
}

.directory-controls {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.directory-controls ul {
  list-style: none;
  padding: 0;
}

.directory-controls li {
  display: inline-block;
}
