/* layout the main file browser div with header, main and footer */
.filebrowser {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    user-select: none;
}

.filebrowser header {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    
}

.filebrowser main {
    flex: 1 0 auto;
}

.filebrowser footer {
    flex: 0 0 auto;
}

/* directory and file listing */
.fb-directory-listing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fb-directory-listing .fb-directory-listing-item {
    flex: 0 0 auto;
    width: 10%;
    word-break: break-all;
}

.folder-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em 0;
}

.folder-controls > * {
    display: block;
    /*flex-basis: 50%;*/
}

/* TILE Display */
.fb-file-gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.fb-file-gallery-item {
    /*flex: 0 0;*/
    text-align: center;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fb-file-gallery-item > * {
    display: block;
    overflow: hidden;
}

.fb-file-gallery-item > img, .fb-file-gallery-item svg {
    display: block;
    margin: auto;
    max-height: 200px;
}

/* Gallery Style */

.image-gallery {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    /*cross axis*/
    align-items: center;
}

.image-gallery::after {

    content: '';
    flex-grow: 1000000;
    min-width: 20%;
}

.image-gallery-item {
    flex: 1 1 auto;
    max-height: 335px;
    width: auto;
    margin: 4px;
    position: relative;
}

.image-gallery-item > i {
    display: block;
}

.image-gallery-item.no-preview {
    max-width: 200px;
    font-size: 100px;
    text-align: center;
}

.image-gallery-selected {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
}

.image-gallery-item img {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 300px;
    vertical-align: bottom;
}


/*GGallery Style*/

.g-gallery {
    display: flex;
    justify-content: space-around;
}

.g-gallery-item {
    flex: 1 1 15%;
    /*min-width: 10rem;
    max-width: 20rem;*/
    width: 10rem;
    /*needed for absolutely positioned selection marker*/
    position: relative;
    border: 1px dotted grey;
    border-collapse: collapse;
    margin: 0.4rem;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}

.g-gallery-directory {
    cursor: pointer;
    word-break: normal;
}

.g-gallery-item.selected {
    text-decoration: underline;
    background-color: rgba(121, 174, 200, 0.30);
}

.g-gallery-item:hover {
    background-color: rgba(121, 174, 200, 0.19);
}
/*.g-gallery-item-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    padding: 0.5rem;
}*/

.g-gallery-item  img {
    max-width: 100%;
    max-height: 10rem;
    flex-basis: 150px;
    object-fit: contain;
}

.g-gallery-item > svg {
    /* SVGs are used for directories or files without a preview */
    margin-top: 2rem;
}

.g-gallery-select {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.51);
    text-align: center;
}

/*hidden per default*/
.g-gallery-select {
    display: none;
}

/*but not when hovered */
/* and not when selected */
.g-gallery-item:hover .g-gallery-select,
.g-gallery-item.selected .g-gallery-select {
    display: block;
}

.g-gallery-item.selected .g-gallery-select {
    font-weight: bolder;
    font-size: 2.3rem;
}

.g-gallery-item-name {
    text-align: center;
    text-overflow: ellipsis;
    color: grey;
    font-size: 1rem;
    margin-top: 1rem;
}

.g-gallery-item-file {
    word-break: break-all;
}

.g-gallery-item:hover .g-gallery-item-name {
    color: inherit;
}

footer {
    padding: 1em 0;

}

.directory-controls {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.directory-controls ul {
    list-style: none;
    padding: 0;
}

.directory-controls li {
    display: inline-block;
}
