
@import "../../node_modules/dejavu-sans-condensed/css/dejavu-sans-condensed.css";
@import "../../node_modules/ptsans-npm-webfont/style.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.App-logo {
  width: 90%;
  margin: 1em auto 2em auto;
}

.App-menu {
  background-color: rgba(254, 185, 19, 1);
  font-family: 'DejaVu Sans Condensed', sans-serif;

  padding: 1em;
  font-size: 1.5em;
  text-align: right;

  flex: 0 2 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.App-menu ul {
  /* remove nav styles */
  list-style: none;
}

.App-menu a {
  /* remove link styles */
  text-decoration: None;
  color: black;
}

.nav-secondary {
  font-size: 1.2rem;
}

.App-main {
  padding: 2em;
  font-family: 'PT Sans', sans-serif;
  flex: 1;
}

