/* minmal menu (burger-style) */
.nav-primary {
	font-size: 1.3em;
	display: block;
	position: absolute;
	top: 50px;
	right: 0px;
	animation: fadein 1s;
}
.nav-primary *, .nav-secondary * {
	display: block;
	float: none;
	border: none;
	margin: 0;
	padding: 0;
}
.nav-primary a, .nav-secondary a {
	text-decoration: none;
	color: white;
	width: 100%;
	transition: color .25s ease-in;
}
.nav-primary > ul > li > a:link:hover, .nav-primary > ul > li > a:visited:hover { 
	color: #666;
	transition: color .1s ease-in;
}
.nav-primary .separator {
	color: #fff;
}
.nav-primary a, .nav-primary .separator {
	background: #f8b20c padding-box;
	border-top: .15em dotted #f8b20c;
	line-height: 1.1em;
	padding: .4em .25em .4em .5em;
}
.nav-primary li ul {
	border-left: 1em solid #f8b20c;
}
.nav-primary li li a {
	color: #333;
	line-height: 1.1em;
}
.nav-primary li li a, .nav-primary li li span {
	background: #fbd782 padding-box;
	border-color: #fbd782 !important;
	border-left: .15em dotted;
	box-sizing: border-box;
	transition: background .25s ease-in;
}
.nav-primary li li a:hover {
	background: #f8b20c padding-box;
	transition: background .1s ease-in;
}
input[type=checkbox]:not(:checked) ~ .nav-primary { display: none; }
input.toggle, .toggle span { display: none; }
label.toggle {
	display: block;
	position: absolute;
	cursor: pointer;
	font-weight: 900;
	font-size: 1.8em;
	padding-top: 13px;
	background: #fff;
	color: #f8b20c;
	height: 50px;
	width: 60px;
	box-sizing: border-box;
	text-align: center;
	top: 0;
	right: 0;
	z-index: 1;
}

/* medium menu (horizontal) */
@media screen and (min-width: 720px) {
	label.toggle { display: none; }
	.nav-primary {
		display: block !important;
		margin-left: 150px;
		position: absolute;
		animation: unset;
		top: 0;
	}
	.nav-primary > ul > li {
		height: 50px;
	}
	.nav-primary a, .nav-primary .separator {
		padding-right: 1.25em;
	}
	.nav-primary ul ul { display: none; margin-top: 0; }
	.nav-primary > ul > li {
		float: left;
	}
	.nav-primary li li { 
		flex: 1 1 7em;
		margin: 0 !important;
	}
	.nav-primary li:hover ul {
		display: flex;
		flex-flow: row wrap;
		position: absolute;
		top: 50px;
		max-width: 11em;
		text-align: center;
		animation: fadein 1s;
	}
	.nav-primary li li a {
		padding-right: .5em;
	}
}

/* full menu (vertical) */
@media screen and (min-width: 900px) {
	.nav-primary, .nav-secondary {
		position: unset;
		margin: 20% 5% 0 15% !important;
		padding: 0 5% 0 0;
		width: 75%;
	}
	.nav-primary * {
		display: block !important;
		background: none !important;
		border: none !important;
		margin: 0 !important;
		max-width: unset !important;
		padding: 0 !important;
		position: unset !important;
		text-align: right !important;
		animation: unset !important;
	}
	.nav-primary a {
		color: white !important;
	}
	.nav-primary a:hover {
		color: #666 !important;
		transition: color .1s ease-in;
	}
	.nav-primary li.active > a {
		color: #333 !important; 
	}
	.nav-primary a, .nav-primary .separator {
		line-height: 1em !important;
		padding-top: .2em !important;
		padding-bottom: .2em !important;
	}
	.nav-primary .separator {
		margin-top: .3em !important;
	}
	.nav-primary > ul > li {
		height: unset;
		float: none;
		padding-right: 5% !important;
	}
	/*.nav-primary ul ul {
		display: none !important;
	}*/
	.nav-primary > ul > li:hover {
		border-right: 2px solid #fff !important;
		padding-right: calc(5% - 2px) !important;
	}
	.nav-primary > ul > li.active, 
	.nav-primary > ul > li.deeper, {
		border-right: 2px solid #636466 !important;
		padding-right: calc(5% - 2px) !important;
	}
	.nav-primary > ul > li.active ul, 
	.nav-primary > ul > li.deeper ul,
	.nav-primary > ul > li:hover ul,
	.nav-primary ul ul {
		display: block !important;
		animation: fadein 1s !important;
		font-size: .8em;
	}
	.nav-primary ul ul li {
		margin-left: .5em !important;
	}
	
	.nav-secondary {
  font-size: 1rem;
	position: absolute;
	text-align: right;
	position: absolute;
	bottom: 0;
	}

}
