<!DOCTYPE html>
{% load static raven %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}HAV Admin{% endblock %}</title>
</head>
<body>
<div id="root"></div>
{% block webpackEntryPoint %}
    {% render_bundle 'havAdmin' %}
{% endblock %}
<script src="https://cdn.ravenjs.com/3.20.1/raven.min.js" crossorigin="anonymous"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>
</body>
</html>
