{% extends 'tw/base.html' %}
{% load static %}
{% block body %}
<div class="min-w-screen min-h-screen bg-fixed bg-center bg-no-repeat bg-cover flex justify-center items-center" style="background-image: url({% static 'dj_static/teaser_bg.jpg' %})">
    <div class=" flex-shrink max-w-3xl text-white bg-yellow-300 p-8 font-mono font-bold rounded">
        <h1 class="text-2xl pb-4">We are currently in the process of establishing the Himalaya Archive Vienna (HAV), the <a class='text-red-500' href="https://whav.aussereurop.univie.ac.at" target="_blank">WHAV's</a> modern multimedia counterpart.</h1>
        <p class="text-xl">Further information about us, our ongoing research initiatives and related news can be found on the website of the <a class='text-red-500' href="http://www.univie.ac.at/cirdis" >Center for Interdisciplinary Research and Documentation of Inner and South Asian Cultural History (CIRDIS)</a>.</p>
    </div>
</div>
{% endblock body %}

