  <h2>Next and previous links</h2>
  <!--
    Implement the previous and next links to cycle through the pages.
  -->
  {% if page.next_page or page.previous_page %}
    <div>
      {% if page.previous_page %}
        <a href="{{ page.previous_page.url }}" title="{{ page.previous_page.title }}">&#8592; Previous Page</a>
      {% else %}
        &#8592; Previous Page
      {% endif %}
      -
      {% if page.next_page %}
        <a href="{{ page.next_page.url }}" title="{{ page.next_page.title }}"/>Next Page &#8594;</a>
      {% else %}
        Next Page &#8594;
      {% endif %}
    </div>
  {% endif %}
