#mainbg {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	top: 50px;
	right: 0;
	background: url(../assets/montage.jpg) repeat top left scroll;
	background-size: 200% auto;
	/*-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;*/
	z-index: -1;
}

@media screen and (max-width: 399px) {
	#mainbg {background-size: cover;}
}
@media screen and (min-width: 400px) {
	#mainbg {background-size: 250% auto;}
}
@media screen and (min-width: 500px) {
	#mainbg {background-size: 223% auto;}
}
@media screen and (min-width: 600px) {
	#mainbg {background-size: 200% auto;}
}
@media screen and (min-width: 700px) {
	#mainbg {background-size: 182% auto;}

}
@media screen and (min-width: 800px) {
	#mainbg {background-size: 167% auto;}
}
@media screen and (min-width: 900px) {
    #mainbg {
		width: calc(100% - 200px);
		top: 0;
		background-size: 200% auto;
	}
}
@media screen and (min-width: 1000px) {
	#mainbg {background-size: 182% auto;}
}
@media screen and (min-width: 1100px) {
	#mainbg {background-size: 167% auto;}
}
@media screen and (min-width: 1200px) {
	#mainbg {background-size: 154% auto;}
}
@media screen and (min-width: 1300px) {
	#mainbg {background-size: 143% auto;}
}
@media screen and (min-width: 1400px) {
	#mainbg {background-size: 134% auto;}
}
@media screen and (min-width: 1500px) {
	#mainbg {background-size: 125% auto;}
}
@media screen and (min-width: 1600px) {
	#mainbg {background-size: 118% auto;}
}
@media screen and (min-width: 1700px) {
	#mainbg {background-size: 111% auto;}
}
@media screen and (min-width: 1800px) {
	#mainbg {background-size: 105% auto;}
}
@media screen and (min-width: 1900px) {
	#mainbg {background-size: 100% auto;}
}
@media screen and (min-width: 2000px) {
	#mainbg {background-size: 95% auto;}
}
@media screen and (min-width: 2100px) {
	#mainbg {background-size: 91% auto;}
}
@media screen and (min-width: 2200px) {
	#mainbg {background-size: 87% auto;}
}
@media screen and (min-width: 2300px) {
	#mainbg {background-size: 83% auto;}
}
@media screen and (min-width: 2400px) {
	#mainbg {background-size: 80% auto;}
}
@media screen and (min-width: 2500px) {
	#mainbg {background-size: 77%auto;}
}
@media screen and (min-width: 2600px) {
	#mainbg {background-size: 74% auto;}
}
@media screen and (min-width: 2700px) {
	#mainbg {background-size: 71% auto;}
}
@media screen and (min-width: 2800px) {
	#mainbg {background-size: 69% auto;}
}
@media screen and (min-width: 2900px) {
	#mainbg {background-size: 67% auto;}
}
@media screen and (min-width: 3000px) {
	#mainbg {background-size: 65% auto;}
}
