{% load gallery_tags %}
{% thumbnail_width webasset media as thumbnail_width %}
<div class="tile" {% if thumbnail_width %}style="width: {{ thumbnail_width }}"{% endif %}>
    <div class="preview">
      <img src="{% thumbnail_url media webasset %}" loading="lazy" alt="{% firstof title caption %}" title="{{ media.original_media_identifier }}" class="preview-image" sizes="300px">
        <div class="preview-icon">
            {% icons represents %}
        </div>
    </div>
    <div class="caption">
        {{ caption }}
    </div>
</div>
