<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}HAV{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'theme/fonts/fonts.css' %}" >
    <link rel="stylesheet" href="{% static 'theme/styles.css' %}" >
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body class="w-full min-h-screen font-sans">
      <div class="flex flex-col md:flex-row md:items-stretch">
        <div class="flex-none md:w-44 md:min-h-screen lg:w-64 bg-yellow-400">
            {% block navbar %}
            {% include './nav.html' %}
            {% endblock navbar %}
        </div>
        <div class="flex-grow p-4 min-h-screen overflow-x-hidden">
            {% block body %}
            {% endblock body %}
        </div>
      </div>
</body>
</html>
