{%  load static %}
<div class="relative bg-yellow-400">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">HAV</span>
            <a href="/">
              <img class="h-8 w-auto sm:h-10" src="{% static 'dj_static/hav-logo.svg' %}" alt="hav logo">
            </a>
        </a>
      </div>
    </div>
  </div>
</div>
