{%  load static cache %}
<div class="md:h-full flex flex-col" x-init="console.log('I\'m being initialized!')" x-data="{ open: false, toggle() { this.open = ! this.open } }">
  <div class="md:flex md:flex-col md:h-screen md:sticky top-0 p-4 text-xl">
    <div class="flex flex-row justify-between">
      <div class="flex-grow md:h-20">
        <Link href="/">
          <a href="/">
            <img
              class="block h-8 md:h-20 w-auto md:mx-auto"
              src="{%  static 'logos/hav.svg' %}"
            />
          </a>
      </div>
      <div class="flex-none text-2xl md:hidden">
        <button class="js-hamburger" @click="toggle()">
            <div class="block h-6 w-6">
                {% include 'svg/hamburger.svg' %}
            </div>
        </button>
      </div>
    </div>

    <nav :class="{ 'sm:hidden': ! open }"
      class="text-lg tracking-tight md:flex-grow md:flex md:flex-col md:justify-between md:mt-8 md:text-right sm:hidden md:block"
    >
      <div>
           <ul>
      <li>

          <a href="{% url 'hav:landing_page' %}">Home</a>
        <ul>
          <li>
              <a href="{% url 'hav:flatpage' slug='cooperation' %}">How to cooperate</a>
          </li>

          <li>
              <a href="{% url 'hav:flatpage' slug='cooperation' %}">License Models</a>
          </li>
        </ul>
      </li>
      {% cache 60 collection_sidebar %}
      <li class="md:mt-2">
        <span class="text-base text-gray-500">Collections</span>
        <ul>
        {% for collection in all_collections %}
            <li>
              <a href="{% url 'hav:collection_root' collection_slug=collection.slug %}">{{ collection.short_name }}</a>
            </li>
        {% endfor %}
        </ul>
      </li>
       {% endcache %}
    </ul>
        <div class="md:mt-20">
           <ul>
           {% if user.is_authenticated %}
            <li>
              {{ user.username }} (<a href="{% url 'auth:logout' %}">Logout</a>)
            </li>
           {% else %}
             <li>
                <a href="{% url 'auth:login' %}">Login</a>
            </li>
           {% endif %}

        <li class="text-sm">
          <a href="https://dsba.univie.ac.at/fileadmin/user_upload/p_dsba/datenschutzerklaerung_websites_V04_26062020_EN.pdf">
            Privacy Policy
          </a>
        </li>
        <li class="text-sm">
            <a href="{% url 'hav:flatpage' slug='imprint' %}">Imprint</a>
        </li>
      </ul>
        </div>
      </div>
      <div>
        <div class="sm:mt-32 text-base text-gray-500">
          <ul>
            <li class="flex flex-row flex-wrap justify-between">
              <img class="block h-8 w-auto" src="{% static 'logos/cirdis.svg' %}" >
              <img class="block h-8 w-auto" src="{% static 'logos/univie.svg' %}" >
            </li>
            <li class="flex flex-row flex-wrap justify-between md:mt-10"></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="flex-grow"></div>
</div>
